.addingpage{
    background-color: rgb(160, 144, 121);
    width:550px;
    display: flex;
    align-items: center;
    justify-content: 'center';
    margin: 50px auto;
    padding: 20px;
}
.buttons{
    display: flex;
    /* width: 500px; */
    justify-content:center;
    /* background-color: aqua; */
}
.adding{
    display: flex;
    align-items: center;
}
.headings{
    display: flex;
    justify-content: center;
    font-size: 20px;
 }
 .textfeild{
    display: flex;
    justify-content: center;
 }

