.addingpage{
    /* background-color: rgb(160, 144, 121); */
    background-color:rgb(175, 187, 216);
    display: flex;
    width: 50%;
    /* align-items: center; */
    justify-content: 'center';
    /* margin: 50px auto; */
    /* padding: 20px; */
    border-radius: 10px;
}
/* @media screen and (min-width: 400px) {
.addingpage{
    width: 85%;
}
} */
.editheading{
    display: flex;
    justify-content: center;
    /* font-size: 10px; */
 }